<!-- Code du modal : -->
<div class="modal fade" id="modalDetails" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      @if (recetteSelectionnee) {
        <div class="modal-header bg-light">
          <h5 class="modal-title">{{ recetteSelectionnee.titre }}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  (click)="fermerModale()"></button>
        </div>
        <div class="modal-body">
          <h6>Composition de la recette</h6>
          <table class="table table-sm mb-4">
            <thead class="table-light">
            <tr>
              <th>Ingrédient</th>
              <th class="text-end">Quantité</th>
              <th class="text-end">Pourcentage</th>
            </tr>
            </thead>
            <tbody>
              @for (ligne of recetteSelectionnee.ligneIngredients; track $index) {
                <tr>
                  <td>{{ ligne.ingredient.nom }}</td>
                  <td class="text-end">{{ ligne.quantite }} g</td>
                  <td class="text-end">{{ ligne.pourcentage }} %</td>
                </tr>
              }
            </tbody>
          </table>
          <div class="alert alert-secondary d-flex justify-content-around"><span><strong>Eau :</strong> {{recetteSelectionnee.apportEnEau }} g</span>
            <span><strong>{{ recetteSelectionnee.avecSoude ? 'Soude' : 'Potasse' }} :</strong>
              {{ recetteSelectionnee.qteAlcalin }} g</span>
          </div>
          <h6>Scores de qualité</h6>
          <div class="row">
            @for (res of recetteSelectionnee?.resultats; track res.caracteristique.id) {
              <div class="col-md-6 mb-2">
                <small>{{ res.caracteristique.nom }} : {{ res.score }}
                </small>
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar bg-success"
                       [style.width.%]="res.score"></div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      } </div>
  </div>
</div>
