<div class="container">
  <div class="card border-success-subtle shadow">
    <div class="card-header bg-success text-light fw-bold h5 ">
      <i class="bi bi-flask-fill"></i> Gestion des Ingrédients
    </div>
    <div class="card-body p-0">
      <table class="table table-striped table-hover">
        <thead class="table-success">
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Surgraissage</th>
          <th>Apport en eau</th>
          <th>Avec Soude</th>
          <th>Concentration Alcali</th>
          <th>Quantié Alcali</th>
          <th>Ingredrients</th>
          <!-- TODO 1 : Ajouter les caractérisitiques manquantes -->
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
          @for (item of recettes; track item.id) {
            <tr>
              @if (recetteSelectionne?.id === item.id) {
                <td>{{ item.id }}</td>
                <td><input [(ngModel)]="recetteSelectionne!.titre" class="form-control form-control-sm"></td>
                <td><input type="string" [(ngModel)]="recetteSelectionne!.description"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.surgraissage"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.apportEnEau"
                           class="form-control form-control-sm"></td>
                <td><input type="boolean" [(ngModel)]="recetteSelectionne!.avecSoude"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.concentrationAlcalin"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.qteAlcalin"
                           class="form-control form-control-sm"></td>
                <td>
                @for (uneLigne of recetteSelectionne!.ligneIngredients; track uneLigne.ingredient.id) {


                  <select>
                    <option disabled>Choisir un ingredient</option>
                  </select>
                  <div>{{uneLigne.ingredient.nom}} X {{uneLigne.quantite}}g</div>

                } </td>
                <td class="text-center">
<!--                  <button (click)="saveRecette()" class="btn btn-sm btn-success me-1"><i class="bi bi-check-lg"></i></button>-->
                  <button (click)="recetteSelectionne = null" class="btn btn-sm btn-secondary"><i class="bi bi-x-lg"></i></button>
                </td>
              } @else {
                <td>{{ item.id }}</td>
                <td><strong>{{ item.titre }}</strong></td>
                <td>{{ item.description }}</td>
                <td>{{ item.surgraissage }}</td>
                <td>{{ item.apportEnEau }}</td>
                <td>{{ item.avecSoude }}</td>
                <td>{{ item.concentrationAlcalin }}</td>
                <td>{{ item.qteAlcalin }}</td>
                <td>
                  Test
                  {{item!.ligneIngredients}}
                  @for (uneLigne of item!.ligneIngredients; track uneLigne.ingredient.id) {

                    <div>{{uneLigne.ingredient.nom}} X {{uneLigne.quantite}}g</div>

                  } </td>
                <td class="text-center">
<!--                  <button (click)="editerRecette(item)" class="btn btn-sm btn-warning me-2"><i class="bi bi-pencil-fill"></i></button>-->
<!--                  <button (click)="deleteRecette(item.id)" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>-->
                </td>
              }
            </tr>

            @if (recetteSelectionne?.id === 0) {
              <tr class="table-info">
                <td>NEW</td>
                <td><input [(ngModel)]="recetteSelectionne!.titre" placeholder="Titre..."
                           class="form-control form-control-sm"></td>
                <td><input type="string" [(ngModel)]="recetteSelectionne!.description"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.surgraissage"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.apportEnEau"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.avecSoude"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.concentrationAlcalin"
                           class="form-control form-control-sm"></td>
                <td><input type="number" [(ngModel)]="recetteSelectionne!.qteAlcalin"
                           class="form-control form-control-sm"></td>
                <td class="text-center">
<!--                  <button (click)="saveRecette()" class="btn btn-sm btn-success me-1">Créer</button>-->
                  <button (click)="recetteSelectionne = null" class="btn btn-sm btn-secondary">Annuler</button>
                </td>
              </tr>
            }
            <!-- Message affiché si problème accès API -->
          } @empty {
            <tr>
              <td colspan="6" class="text-center text-muted py-4">
                <i class="bi bi-exclamation-triangle"></i>
                Aucun ingrédient trouvé.
                Vérifiez que votre API Backend est bien lancée sur le
                port 8080.
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-success">
      <button class="btn btn-sm btn-light fw-bold"
              >
<!--       (click)="creerNouvelIngredient()" -->
        <i class="bi bi-plus-circle"></i> Ajouter un ingrédient
      </button>
    </div>
  </div>
</div>
